:root { 
--gray_900_aa:#151515aa; 
--black_900:#000000; 
--black_901:#010029; 
--light_blue_A700:#0079ff; 
--deep_orange_101:#ffb8b8; 
--deep_orange_200:#fdb797; 
--light_blue_A701:#0989ff; 
--deep_orange_100:#ffb6b6; 
--light_blue_A702:#0587ff; 
--blue_801:#005ac7; 
--gray_400:#c4c4c4; 
--gray_900_26:#15151526; 
--gray_901:#151515; 
--blue_800:#015fc7; 
--indigo_50:#dcdaff; 
--orange_A700:#ff5b00; 
--gray_900:#001024; 
--gray_101:#f5f5f5; 
--gray_300:#e6e6e6; 
--gray_100:#f2f2f2; 
--bluegray_900:#2f2e41; 
--bluegray_800:#3f3d56; 
--bluegray_400:#8b8a8a; 
--blue_400:#499efd; 
--blue_200:#9fc3ea; 
--white_A700:#ffffff; 
--gray_900_90:#15151590; 
--bluegray_901:#333333; 
}